.navbar{
	z-index: 1;
	width: 100%;
	margin-top: 35px;
}
.nav-link{
	margin-left: 450px;
	font-size: 18px;
	color: #000000!important;
}
.nav-link:hover{
	color: #000000!important;
	font-weight: bold;
}

#border{
	border: 2px;
	border-style: solid;
	border-color: #b6b6b6;
}

.edit{
	color: azure;
	background-color: rgb(119, 161, 201);
}

.delete{
	color: azure;
	background-color: rgb(201, 119, 119);
}

.add{
	color: azure;
	background-color: rgb(119, 201, 126);
	width: 75px;
	height: 40px;
}

.add_route_buttons{
	width: 75px;
	height: 40px;
}

.create_plan{
	color: azure;
	background-color: rgb(119, 201, 126);
	width: 100px;
	height: 40px;
}

.edit_plan{
	color: azure;
	background-color: rgb(119, 161, 201);
	width: 100px;
	height: 40px;
}